{% extends "layouts/main.html" %}
{% block header %}
  {% include "FRPS-D2/includes/_defra-header.html" %}
  {% include "WMP/includes/_caseWmp-context-strip.html" %}
{% endblock %}

{% block content %}
{% set activeNavItem = "notes" %}
{% include "WMP/includes/_caseWmp-nav.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-top-6">Notes</h1>
    <p class="govuk-body">Case notes will appear here.</p>
  </div>
</div>
{% endblock %}
