{% extends "layouts/main.html" %}

{% block header %}
  {% include "FRPS-D2/includes/_defra-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">

    <nav class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-margin-bottom-5" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="users-and-roles">User management</a></li>
        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="users">Users</a></li>
        <li class="govuk-breadcrumbs__list-item">R Singh</li>
      </ol>
    </nav>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">R Singh</h1>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Email</dt>
            <dd class="govuk-summary-list__value">r.singh@defra.gov.uk</dd>
            <dd class="govuk-summary-list__actions"></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Status</dt>
            <dd class="govuk-summary-list__value">
              {% set st = data.rsStatus or "Active" %}
              {% if st == "Active" %}<strong class="govuk-tag govuk-tag--green">Active</strong>
              {% elif st == "Suspended" %}<strong class="govuk-tag govuk-tag--yellow">Suspended</strong>
              {% else %}<strong class="govuk-tag govuk-tag--red">{{ st }}</strong>{% endif %}
            </dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="change-status">Change<span class="govuk-visually-hidden"> status</span></a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Last login</dt>
            <dd class="govuk-summary-list__value">18 June 2026, 09:12</dd>
            <dd class="govuk-summary-list__actions"></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Teams</dt>
            <dd class="govuk-summary-list__value">{{ data.rsTeams or "Team A" }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="change-teams">Change<span class="govuk-visually-hidden"> teams</span></a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Access role</dt>
            <dd class="govuk-summary-list__value">
              {% set ar = data.rsRole or "Caseworker" %}
              {% if ar == "Manager" %}<strong class="govuk-tag govuk-tag--purple">Manager</strong>{% if data.rsScope == "senior" %} <span class="govuk-body-s">(senior)</span>{% endif %}
              {% else %}<strong class="govuk-tag govuk-tag--blue">Caseworker</strong>{% endif %}
            </dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="change-access-role">Change<span class="govuk-visually-hidden"> access role</span></a></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Specialisms</dt>
            <dd class="govuk-summary-list__value">{{ data.rsSpecialisms or "Finance officer" }}</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="change-specialisms">Change<span class="govuk-visually-hidden"> specialisms</span></a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Open cases</dt>
            <dd class="govuk-summary-list__value">5 <span class="govuk-body-s">(oldest 28 days)</span></dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="allocate-reassign">Reassign cases</a></dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Scheme roles</dt>
            <dd class="govuk-summary-list__value">PMF_READ, PMF_WRITE, BN_TAG_CHECKER</dd>
            <dd class="govuk-summary-list__actions"><a class="govuk-link" href="scheme-roles">Change<span class="govuk-visually-hidden"> scheme roles</span></a></dd>
          </div>
        </dl>

        <div class="govuk-button-group">
          <a class="govuk-button" href="users" data-module="govuk-button">Done</a>
        </div>

      </div>
    </div>

  </main>
</div>
{% endblock %}
