{% extends "layouts/main.html" %}
{% block header %}
  {% include "FRPS-D2/includes/_defra-header.html" %}
  {% include "FRPS-D2/includes/_case3-context-strip.html" %}
{% endblock %} 


{% block content %}
{% set activeNavItem = "tasks" %}
{% include "FRPS-D2/includes/_case3-nav.html" %}
<form action="/task2TrT2C3" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-8">
       Notify Agreement Holder of agreement termination
      </h1>
    </legend>

            <p class="govuk-body">Tell the agreement holder that their agreement is to be terminated in accordance with the terms and conditions of their agreement. Ensure the following is completed:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Draft the termination notification letter using the &lt;Early Closure Template&gt;</li>
        <li>Obtain approval for the termination notification letter</li>
        <li>Send the termination notification to the agreement holder</li>
      </ul>

      <h2 class="govuk-heading-m">Outcome</h2>



   <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <div class="govuk-radios" data-module="govuk-radios">
        
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="decisionTerminateTask2C3" type="radio" value="Check complete" data-aria-controls="conditional-decision1">
            <label class="govuk-label govuk-radios__label" for="contact">
              Check complete
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-decision1">
            <h3 class="govuk-heading-s">Explain this outcome</h3>
            <div id="more-detail-hint" class="govuk-hint">
              You must include an explanation for auditing purposes. 
            </div>
          {% if (data.task2TrNoteC3) %}
          <textarea class="govuk-textarea" id="more-detail1" name="task2TrNote2C3" rows="5" aria-describedby="more-detail-hint"></textarea>
          {% else %}
          <textarea class="govuk-textarea" id="more-detail1" name="task2TrNoteC3" rows="5" aria-describedby="more-detail-hint"></textarea>
          {% endif %} 
          </div>
          
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="eligible-2" name="decisionTerminateTask2C3" type="radio" value="Need further information"  data-aria-controls="conditional-decision2">
            <label class="govuk-label govuk-radios__label" for="eligible-2">
              Need further information
            </label>
          </div>  
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-decision2">
            <h3 class="govuk-heading-s">Explain this outcome</h3>
            <div id="more-detail-hint" class="govuk-hint">
              You must include an explanation for auditing purposes. 
            </div>
          {% if (data.task2TrNoteC3) %}
          <textarea class="govuk-textarea" id="more-detail1" name="task2ANote2C3" rows="5" aria-describedby="more-detail-hint"></textarea>
          {% else %}
          <textarea class="govuk-textarea" id="more-detail1" name="task2TrNoteC3" rows="5" aria-describedby="more-detail-hint"></textarea>
          {% endif %} 
          </div>      
        </div>
      </fieldset>
    </div>

<button type="submit" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
 Confirm
</button><br>
<a href="tasklist-stage" class="govuk-link">Cancel and return</a>

  </fieldset>
</div>
{% if (data.task2TrNoteC3) %}
<h2 class="govuk-heading-m">Note history</h2>

<table class="govuk-table" data-module="moj-sortable-table">


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header custom-width-120" aria-sort="ascending">Date</th>
      <th scope="col" class="govuk-table__header " aria-sort="none">Action</th>

      <th scope="col" class="govuk-table__header notes-width">Note</th>

      <th scope="col" class="govuk-table__header custom-width-110" aria-sort="none">Added by</th>

    </tr>
  </thead> 

  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">

      <td class="govuk-table__cell">25th Sept 2025</td>

      <td class="govuk-table__cell">
        {{ data['noteActionTerminateTask2C3']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote2TrC3']}}
      </td>

      <td class="govuk-table__cell"> A Jones</td>


    </tr>
  </tbody>
</table>

{% endif %}


 
    </form>

  </div>

</div>





{% endblock %}