{% extends "layouts/main.html" %}
{% block header %}
  {% include "FRPS-D2/includes/_defra-header.html" %}
  {% include "FRPS-D2/includes/_case3-context-strip.html" %}
{% endblock %}


{% block content %}
{% set activeNavItem = "tasks" %}
{% include "FRPS-D2/includes/_case3-nav.html" %}
<form action="/task3T2C3" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-8">
        Check notice of planned activity for site of special scientific interest (SSSI) has been requested 
      </h1>
    </legend>


<p>Land parcels within this application intersect  with at least one SSSI.</p>  

<p>You must:
<ol class="govuk-list govuk-list--number"> 
  <li>View which land parcels are affected in the <a href="application" class="govuk-link">application</a>.</p></li>
  <li>Check if a notice of planned activity has been submitted to Natural England's <a href="" class="govuk-link">SSSI request spreadsheet</a></p></li>
</ol>

<p class="govuk-inset-text">The notice of planned activity must have been received by Natural England. Consent does not have to have been issued yet for you to accept it. </p>



      {% if (data.caseStageC3 === 'review') %} 




    <h2 class="govuk-heading-m">
         Outcome
      </h2>



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <div class="govuk-radios" data-module="govuk-radios">
        
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="decisionTask3C3" type="radio" value="Accepted" data-aria-controls="conditional-decision1" >
            <label class="govuk-label govuk-radios__label" for="contact">
              Accept
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-decision1">
            <h3 class="govuk-heading-s">Explain this outcome</h3>
            <div id="more-detail-hint" class="govuk-hint">
              You must include an explanation for auditing purposes. 
            </div>
          {% if (data.task3NoteC3) %}
          <textarea class="govuk-textarea" id="more-detail1" name="task3Note2C3" rows="5" aria-describedby="more-detail-hint"></textarea>
          {% else %}
          <textarea class="govuk-textarea" id="more-detail1" name="task3NoteC3" rows="5" aria-describedby="more-detail-hint"></textarea>
          {% endif %} 
         </div>
          
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="eligible-2" name="decisionTask3C3" type="radio" value="Information requested" data-aria-controls="conditional-decision2" >
            <label class="govuk-label govuk-radios__label" for="eligible-2">
              Request information from customer
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-decision2">
            <h3 class="govuk-heading-s">Explain this outcome</h3>
            <div id="more-detail-hint" class="govuk-hint">
              You must include an explanation for auditing purposes. 
            </div>
          {% if (data.task3NoteC3) %}
          <textarea class="govuk-textarea" id="more-detail1" name="task3Note2C3" rows="5" aria-describedby="more-detail-hint"></textarea>
          {% else %}
          <textarea class="govuk-textarea" id="more-detail1" name="task3NoteC3" rows="5" aria-describedby="more-detail-hint"></textarea>
          {% endif %} 
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="decisionTask3C3" type="radio" value="Internal investigation" data-aria-controls="conditional-decision3" >
            <label class="govuk-label govuk-radios__label" for="contact">
              Pause for internal investigation
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-decision3">
            <h3 class="govuk-heading-s">Explain this outcome</h3>
            <div id="more-detail-hint" class="govuk-hint">
              You must include an explanation for auditing purposes. 
            </div>
          {% if (data.task3NoteC3) %}
          <textarea class="govuk-textarea" id="more-detail1" name="task3Note2C3" rows="5" aria-describedby="more-detail-hint"></textarea>
          {% else %}
          <textarea class="govuk-textarea" id="more-detail1" name="task3NoteC3" rows="5" aria-describedby="more-detail-hint"></textarea>
          {% endif %} 
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="decisionTask3C3" type="radio" value="Cannot accept" data-aria-controls="conditional-decision4" >
            <label class="govuk-label govuk-radios__label" for="contact">
              Cannot accept
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-decision4">
            <h3 class="govuk-heading-s">Explain this outcome</h3>
            <div id="more-detail-hint" class="govuk-hint">
              You must include an explanation for auditing purposes. 
            </div>
          {% if (data.task3NoteC3) %}
          <textarea class="govuk-textarea" id="more-detail1" name="task3Note2C3" rows="5" aria-describedby="more-detail-hint"></textarea>
          {% else %}
          <textarea class="govuk-textarea" id="more-detail1" name="task3NoteC3" rows="5" aria-describedby="more-detail-hint"></textarea>
          {% endif %} 
          </div>

        </div>
      </fieldset>
    </div>

<button type="submit" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
 Confirm
</button><br>
<a href="tasklist-stage" class="govuk-link">Cancel and return</a>{% endif %}
{% if (data.task3NoteC3) %}
<h2 class="govuk-heading-m">Outcome history</h2>

<table class="govuk-table" data-module="moj-sortable-table">


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header custom-width-120" aria-sort="ascending">Date</th>
      <th scope="col" class="govuk-table__header " aria-sort="none">Outcome</th>

      <th scope="col" class="govuk-table__header notes-width">Note</th>

      <th scope="col" class="govuk-table__header custom-width-110" aria-sort="none">Added by</th>

    </tr>
  </thead> 

  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">

      <td class="govuk-table__cell">25th Sept 2025</td>

      <td class="govuk-table__cell">
        {{ data['noteActionTask3C3']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote3C3']}}
      </td>

      <td class="govuk-table__cell"> A Jones</td>


    </tr>
  </tbody>
</table>
{% else %} 

{% endif %}
 
    </form>

  </div>

</div>





{% endblock %}