{% extends "layouts/main.html" %}
{% set source = data.tasklistDraft if data.tasklistDraft else tasklistData %}
{% set key  = data.key %}
{% set task = source.tasks[key] %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({ text: "Back", href: "/builder" }) }}

        <h1 class="govuk-heading-xl">Edit task: {{ key }}</h1>

        <form action="/builder/save-task" method="post">
          <input type="hidden" name="key" value="{{ key }}">

          <div class="govuk-form-group">
            <label class="govuk-label" for="linkText">Link text</label>
            <input class="govuk-input" id="linkText" name="linkText" value="{{ task.linkText }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="href">Default href</label>
            <input class="govuk-input" id="href" name="href" value="{{ task.href }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="hrefIfFinanceOfficer">Href when finance officer (optional)</label>
            <input class="govuk-input" id="hrefIfFinanceOfficer" name="hrefIfFinanceOfficer" value="{{ task.hrefIfFinanceOfficer or '' }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="decisionField">Decision field</label>
            <input class="govuk-input" id="decisionField" name="decisionField" value="{{ task.decisionField }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="acceptedValue">Accepted value</label>
            <input class="govuk-input" id="acceptedValue" name="acceptedValue" value="{{ task.acceptedValue }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="statusField">Status field</label>
            <input class="govuk-input" id="statusField" name="statusField" value="{{ task.statusField }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="tagField">Tag field</label>
            <input class="govuk-input" id="tagField" name="tagField" value="{{ task.tagField }}">
          </div>

          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and return</button>
            <a class="govuk-link" href="/builder">Cancel</a>
          </div>
        </form>

      </div>
    </div>
  </main>
</div>
{% endblock %}
