{% extends "layouts/main.html" %}
{% block header %}
  {% include "FRPS-D2/includes/_defra-header.html" %}
  {% include "FRPS-D2/includes/_caseReal-context-strip.html" %}
{% endblock %}


{% block content %}
{% set activeNavItem = "tasks" %}
{% include "FRPS-D2/includes/_caseReal-nav.html" %}
<form action="/task5m2Real" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-8">
        Review available area calculation results
      </h1>
    </legend>

    <p>Check available area calculation results for failures and resolve these by:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>requesting information from the customer</li>
      <li>running the calculations again</li>
      <li>updating the systems</li>
    </ul>

    <h2 class="govuk-heading-m">Outcome</h2>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="t2f-1" name="decisionTask2mReal" type="radio" value="No action needed" data-aria-controls="t2f-1c">
            <label class="govuk-label govuk-radios__label" for="t2f-1">No action needed</label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="t2f-1c">
            <h3 class="govuk-heading-s">Explain this outcome</h3>
            <div id="t2f-hint-1" class="govuk-hint">You must include an explanation for auditing purposes.</div>
            {% if (data.task2mNoteReal) %}
            <textarea class="govuk-textarea" name="task2mNote2Real" rows="5" aria-describedby="t2f-hint-1"></textarea>
            {% else %}
            <textarea class="govuk-textarea" name="task2mNoteReal" rows="5" aria-describedby="t2f-hint-1"></textarea>
            {% endif %}
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="t2f-2" name="decisionTask2mReal" type="radio" value="Escalate" data-aria-controls="t2f-2c">
            <label class="govuk-label govuk-radios__label" for="t2f-2">Escalate</label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="t2f-2c">
            <h3 class="govuk-heading-s">Explain this outcome</h3>
            <div id="t2f-hint-2" class="govuk-hint">You must include an explanation for auditing purposes.</div>
            {% if (data.task2mNoteReal) %}
            <textarea class="govuk-textarea" name="task2mNote2Real" rows="5" aria-describedby="t2f-hint-2"></textarea>
            {% else %}
            <textarea class="govuk-textarea" name="task2mNoteReal" rows="5" aria-describedby="t2f-hint-2"></textarea>
            {% endif %}
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="t2f-3" name="decisionTask2mReal" type="radio" value="Information requested" data-aria-controls="t2f-3c">
            <label class="govuk-label govuk-radios__label" for="t2f-3">Request information from customer</label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="t2f-3c">
            <h3 class="govuk-heading-s">Explain this outcome</h3>
            <div id="t2f-hint-3" class="govuk-hint">You must include an explanation for auditing purposes.</div>
            {% if (data.task2mNoteReal) %}
            <textarea class="govuk-textarea" name="task2mNote2Real" rows="5" aria-describedby="t2f-hint-3"></textarea>
            {% else %}
            <textarea class="govuk-textarea" name="task2mNoteReal" rows="5" aria-describedby="t2f-hint-3"></textarea>
            {% endif %}
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="t2f-4" name="decisionTask2mReal" type="radio" value="Cannot accept" data-aria-controls="t2f-4c">
            <label class="govuk-label govuk-radios__label" for="t2f-4">Cannot accept</label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="t2f-4c">
            <h3 class="govuk-heading-s">Explain this outcome</h3>
            <div id="t2f-hint-4" class="govuk-hint">You must include an explanation for auditing purposes.</div>
            {% if (data.task2mNoteReal) %}
            <textarea class="govuk-textarea" name="task2mNote2Real" rows="5" aria-describedby="t2f-hint-4"></textarea>
            {% else %}
            <textarea class="govuk-textarea" name="task2mNoteReal" rows="5" aria-describedby="t2f-hint-4"></textarea>
            {% endif %}
          </div>

        </div>
      </fieldset>
    </div>

    <button type="submit" class="govuk-button govuk-!-margin-top-0 govuk-!-margin-bottom-3" data-module="govuk-button">Confirm</button><br>
    <a href="tasklist-stage" class="govuk-link">Cancel and return</a>

  </fieldset>
</div>
  </div>
</div>
</form>
{% endblock %}
