{% extends "layouts/main.html" %}
{% import "Grasslands/includes/_caselist-macros.html" as caselist with context %}

{% block header %}
  {% include "FRPS-D2/includes/_defra-header.html" %}
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/vendor/accessible-autocomplete/accessible-autocomplete.min.css">
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">

    <h1 class="govuk-heading-xl">Grasslands cases</h1>

    {{ caselist.tabsAndTable("all", ctx, view, myAssignee, none, grassFilters) }}

  </main>
</div>
{% endblock %}

{% block pageScripts %}
  <script src="/vendor/accessible-autocomplete/accessible-autocomplete.min.js"></script>
{% endblock %}
