{% extends "layouts/main.html" %}

{% block header %}
  {% include "FRPS-D2/includes/_defra-header.html" %}
{% endblock %}

{% block content %}




      
<h1 class="govuk-heading-l">Users and roles</h1>

<h2 class="govuk-heading-m">Users</h2>
<p>Check and update what users can do. </p>

<p><a class="govuk-link" href="users">Manage users</a></p>

<h2 class="govuk-heading-m">Roles</h2>
<p>Check and edit roles, or create new ones. </p>

<p><a class="govuk-link" href="roles">Manage roles</a></p>


  </div>

</div>





{% endblock %}