{% extends "layouts/main.html" %}

{% set headerTitleCentred = true %}
{% set headerServiceName = "Entitlement management" %}

{% block header %}
  {% include "FRPS-D2/includes/_defra-header.html" %}
  {% include "Woodlands/includes/_wd-context-strip.html" %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if error %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">There is a problem</h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li><a href="#fcArea">{{ error }}</a></li>
              </ul>
            </div>
          </div>
        </div>
        {% endif %}

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Enter the total eligible area of woodland included in the plan</h1>

        <p class="govuk-body">You can find this in the confirmation email sent by the FC.</p>
        <p class="govuk-body govuk-!-margin-bottom-6">The size of woodland approved by the FC will be used to calculate the amount the customer can claim.</p>

        <form method="post" action="/Woodlands/calculate" novalidate>
          <input type="hidden" name="id" value="{{ c.id }}">
          <div class="govuk-form-group{% if error %} govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-label--s" for="fcArea">Total area of eligible woodland</label>
            {% if error %}<p id="fcArea-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ error }}</p>{% endif %}
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-5{% if error %} govuk-input--error{% endif %}" id="fcArea" name="fcArea" type="text" inputmode="decimal" spellcheck="false" value="{{ values.fcArea }}"{% if error %} aria-describedby="fcArea-error"{% endif %}>
              <div class="govuk-input__suffix" aria-hidden="true">ha</div>
            </div>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        </form>

      </div>
    </div>
  </main>
</div>
{% endblock %}
