{% extends "layouts/main.html" %}
{% block header %}
  {% include "FRPS-D2/includes/_defra-header.html" %}
  {% include "Grasslands/includes/_caseGrass-context-strip.html" %}
{% endblock %}


{% block content %}
{% set activeNavItem = "tasks" %}
{% include "Grasslands/includes/_caseGrass-nav.html" %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-top-8">Check stacking with Less Favoured Area (LFA)</h1>

    <p>Ref LPs: NY2119 1042, NY1118 1031</p>

    <p>Verify that the parcel sits completely within a designated Less Favoured Area (LFA)</p>

    <a href="tasklist-stage" class="govuk-link">Return to task list</a>

  </div>
</div>
{% endblock %}
