<header class="app-pl-header" role="banner">
  <div class="govuk-width-container">

    <div class="app-pl-header__logo-row">
      <a href="/pattern-library" class="app-pl-header__logo">
        <img class="app-pl-header__logo-image" src="/public/images/defra-logo-white.png" alt="" role="presentation">
        <span class="app-pl-header__logo-text">Case working patterns library</span>
      </a>
    </div>

    <div class="app-pl-header__nav-row">
      <nav aria-label="Main menu">
        <ul class="app-pl-header__nav-list">
          <li>
            <a href="/pattern-library/foundations/colour" class="app-pl-header__nav-link{% if plSection == 'foundations' or plSection == 'accessibility' or plSection == 'contributing' %} app-pl-header__nav-link--active{% endif %}">Foundations</a>
          </li>
          <li class="app-pl-header__nav-group">
            <span class="app-pl-header__nav-label">Components:</span>
            <a href="/pattern-library/gds/button" class="app-pl-header__nav-link app-pl-header__nav-link--grouped{% if plSection == 'gds' %} app-pl-header__nav-link--active{% endif %}">GDS</a>
            <a href="/pattern-library/moj/timeline" class="app-pl-header__nav-link app-pl-header__nav-link--grouped{% if plSection == 'moj' %} app-pl-header__nav-link--active{% endif %}">MoJ</a>
            <a href="/pattern-library/custom/status-tags" class="app-pl-header__nav-link app-pl-header__nav-link--grouped{% if plSection == 'custom' %} app-pl-header__nav-link--active{% endif %}">Custom</a>
          </li>
          <li>
            <a href="/pattern-library/patterns/caselist" class="app-pl-header__nav-link{% if plSection == 'patterns' %} app-pl-header__nav-link--active{% endif %}">Patterns</a>
          </li>
          <li>
            <a href="/pattern-library/research" class="app-pl-header__nav-link{% if plSection == 'research' %} app-pl-header__nav-link--active{% endif %}">Research history</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</header>
