<nav class="app-subnav" aria-label="Custom patterns">
  <h2 class="app-subnav__theme">Patterns</h2>
  <ul class="app-subnav__section">

    <li class="app-subnav__section-item{% if activePage == 'budget-bar' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/custom/budget-bar">Budget allocation bar</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'calculations-filter' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/custom/calculations-filter">Calculations filter</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'case-nav' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/custom/case-nav">Case navigation</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'changed-value-highlight' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/custom/changed-value-highlight">Changed-value highlight</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'check-result-tags' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/custom/check-result-tags">Check-result tags</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'context-strip' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/custom/context-strip">Context strip</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'defra-header' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/custom/defra-header">Defra header</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'full-list-sort' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/custom/full-list-sort">Full-list column sorting</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'list-switcher' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/custom/list-switcher">List switcher</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'status-tags' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/custom/status-tags">Status tags</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'team-caselist' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/custom/team-caselist">Team caselist</a>
    </li>

  </ul>
</nav>
