<nav class="app-subnav" aria-label="GDS components">
  <h2 class="app-subnav__theme">Components</h2>
  <ul class="app-subnav__section">

    <li class="app-subnav__section-item{% if activePage == 'accessible-autocomplete' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/accessible-autocomplete">Accessible autocomplete</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'accordion' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/accordion">Accordion</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'back-link' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/back-link">Back link</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'breadcrumbs' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/breadcrumbs">Breadcrumbs</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'button' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/button">Button</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'checkboxes' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/checkboxes">Checkboxes</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'date-input' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/date-input">Date input</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'details' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/details">Details</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'error-summary' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/error-summary">Error summary</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'inset-text' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/inset-text">Inset text</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'notification-banner' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/notification-banner">Notification banner</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'pagination' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/pagination">Pagination</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'radios' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/radios">Radios</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'summary-list' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/summary-list">Summary list</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'table' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/table">Table</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'tabs' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/tabs">Tabs</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'tag' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/tag">Tag</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'text-input' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/text-input">Text input</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'textarea' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/textarea">Textarea</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'warning-text' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/gds/warning-text">Warning text</a>
    </li>

  </ul>
</nav>
