<header class="app-pl-header" role="banner">
  <div class="govuk-width-container">

    <div class="app-pl-header__logo-row">
      <a href="/pattern-library" class="app-pl-header__logo">
        <img class="app-pl-header__logo-image" src="/public/images/defra-logo-white.png" alt="" role="presentation">
        <span class="app-pl-header__logo-text">Case working patterns library</span>
      </a>
    </div>

    <div class="app-pl-header__nav-row">
      <nav aria-label="Main menu">
        <ul class="app-pl-header__nav-list">
          <li>
            <a href="/pattern-library/gds/button" class="app-pl-header__nav-link{% if plSection == 'gds' %} app-pl-header__nav-link--active{% endif %}">GDS components</a>
          </li>
          <li>
            <a href="/pattern-library/moj/timeline" class="app-pl-header__nav-link{% if plSection == 'moj' %} app-pl-header__nav-link--active{% endif %}">MOJ components</a>
          </li>
          <li>
            <a href="/pattern-library/custom/status-tags" class="app-pl-header__nav-link{% if plSection == 'custom' %} app-pl-header__nav-link--active{% endif %}">Custom patterns</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</header>
