<nav class="app-subnav" aria-label="MOJ components">
  <h2 class="app-subnav__theme">Components</h2>
  <ul class="app-subnav__section">

    <li class="app-subnav__section-item{% if activePage == 'badge' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/moj/badge">Badge</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'filter' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/moj/filter">Filter</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'messages' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/moj/messages">Messages</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'pagination' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/moj/pagination">Pagination</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'search' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/moj/search">Search</a>
    </li>

    <li class="app-subnav__section-item{% if activePage == 'timeline' %} app-subnav__section-item--current{% endif %}">
      <a class="app-subnav__link" href="/pattern-library/moj/timeline">Timeline</a>
    </li>

  </ul>
</nav>
