<header class="defra-internal-header" role="banner">
    <div class="govuk-width-container {{ headerContainerClasses }}">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      {# headerTitleFullCentred centres the title on the whole header bar rather
         than within the space left beside the logo. #}
      <div class="defra-internal-service-name{% if headerTitleCentred %} defra-internal-service-name--centred{% endif %}{% if headerTitleFullCentred %} defra-internal-service-name--centred-full{% endif %}">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            {{ headerServiceName or "Manage rural grant applications" }}
          </a>
      </div>
    </div>
  </header>
