{% extends "layouts/main.html" %}
{% set plSection = "custom" %}

{% block header %}
  {% include "pattern-library/includes/_pl-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="app-split-pane">
    <div class="app-split-pane__nav">
      {% include "pattern-library/includes/_pl-subnav-custom.html" %}
    </div>
    <div class="app-split-pane__content">

      <h1 class="govuk-heading-xl">Custom patterns</h1>
      <p class="govuk-body-l">Patterns that deviate from or extend GOV.UK and MOJ design systems, used consistently across this prototype.</p>
      <p class="govuk-body">Select a pattern from the list to see usage guidance and code examples.</p>

    </div>
  </div>
</div>
{% endblock %}
